*{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
body{
    background-color: antiquewhite;
}
.locfinder{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    font-size:x-large;
    height: 90vh;
}
.cards{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color:black;
    color:antiquewhite;
    padding: 1.5rem;
    border-radius: 10px;
    width: auto;
    font-size: large;
}
.locName,.date{
    text-align: center;
}
.minMax{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 1rem;
    
}
.windHumid{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.mapme{
    padding: 1rem;
    border-radius: 1rem;
}
.mapme{
    background-color:brown;
    color: antiquewhite;
}

.imgg{
    text-align: center;
}
.loc{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.weather{
 
    font-size:xx-large;
    color: brown;
    font-weight: bolder;
}


